# 导入库

In [1]:
import efinance as ef

# 使用例子

### 获取单只股票基本信息

In [2]:
stock_code = '600519'
ef.stock.get_base_info(stock_code)

股票代码                  600519
股票名称                    贵州茅台
市盈率(动)                 49.35
市盈率                    15.72
所处行业                    酿酒行业
总市值          2754841775400.0
流通市值         2754841775400.0
板块编号                  BK0477
ROE                     8.29
净利率                  54.1678
净利润       13954462085.610001
毛利率                  91.6763
dtype: object

### 获取多只股票基本信息

In [3]:
stock_codes = ['600519','300750']
ef.stock.get_base_info(stock_codes)

processing 300750: 100%|██████████| 2/2 [00:00<00:00, 19.10it/s]

,股票代码,股票名称,市盈率(动),市盈率,所处行业,总市值,流通市值,板块编号,ROE,净利率,净利润,毛利率
0,600519,贵州茅台,49.35,15.72,酿酒行业,2.754842e+12,2.754842e+12,BK0477,8.29,54.1678,1.395446e+10,91.6763
1,300750,宁德时代,132.60,15.79,汽车行业,1.036616e+12,1.027674e+12,BK0481,3.01,12.2289,1.954417e+09,27.2795

### 获取单只股票日 k 数据

In [4]:

beg = '20200101' # 开始日期
end = '20210101'   # 结束日期
ef.stock.get_quote_history(stock_code,beg== beg,end=end)

,股票名称,股票代码,日期,开盘,收盘,最高,最低,成交量,成交额,振幅,涨跌幅,涨跌额,换手率
0,贵州茅台,600519,2001-08-27,-70.44,-70.24,-69.79,-70.77,406318,1410347000.00,-1.38,1.15,0.82,56.83
1,贵州茅台,600519,2001-08-28,-70.35,-69.97,-69.95,-70.42,129647,463463000.00,-0.67,0.38,0.27,18.13
2,贵州茅台,600519,2001-08-29,-69.95,-70.07,-69.95,-70.13,53252,194689000.00,-0.26,-0.14,-0.10,7.45
3,贵州茅台,600519,2001-08-30,-70.09,-69.93,-69.85,-70.15,48013,177558000.00,-0.43,0.20,0.14,6.72
4,贵州茅台,600519,2001-08-31,-69.92,-69.94,-69.82,-69.99,23231,86231000.00,-0.24,-0.01,-0.01,3.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4617,贵州茅台,600519,2020-12-25,1802.99,1830.00,1847.00,1800.00,23088,4218997632.00,2.57,-0.02,-0.34,0.18
4618,贵州茅台,600519,2020-12-28,1826.60,1873.00,1888.80,1826.05,30080,5616528640.00,3.43,2.35,43.00,0.24
4619,贵州茅台,600519,2020-12-29,1873.00,1867.00,1886.80,1855.00,22868,4275994832.00,1.70,-0.32,-6.00,0.18
4620,贵州茅台,600519,2020-12-30,1870.00,1933.00,1933.00,1869.99,34452,6604461312.00,3.37,3.54,66.00,0.27
4621,贵州茅台,600519,2020-12-31,1941.00,1998.00,1998.98,1939.00,38860,7682300672.00,3.10,3.36,65.00,0.31

#### 获取单只股票的 5 分钟k线数据

In [5]:
import efinance as ef
stock_code = '600519'
beg = '20200101' # 开始日期
end = '20500101'   # 结束日期(最好比当前日期大，要不然可能没有数据)
klt = 5 # 指定获取的 k 线数据是 5 分钟的
ef.stock.get_quote_history(stock_code,beg = beg,end = end,klt=5)

processing 300750: 100%|██████████| 2/2 [00:02<00:00,  1.14s/it]

,股票名称,股票代码,日期,开盘,收盘,最高,最低,成交量,成交额,振幅,涨跌幅,涨跌额,换手率
0,贵州茅台,600519,2021-04-27 09:35,2087.08,2075.62,2089.00,2071.22,1571,326956690.00,0.86,-0.11,-2.20,0.01
1,贵州茅台,600519,2021-04-27 09:40,2076.72,2071.10,2078.00,2065.09,1467,303719578.00,0.62,-0.22,-4.52,0.01
2,贵州茅台,600519,2021-04-27 09:45,2070.99,2073.39,2074.00,2066.47,630,130532178.00,0.36,0.11,2.29,0.01
3,贵州茅台,600519,2021-04-27 09:50,2073.43,2086.60,2086.60,2070.10,860,178883721.00,0.80,0.64,13.21,0.01
4,贵州茅台,600519,2021-04-27 09:55,2086.00,2084.96,2089.99,2073.01,863,179926439.00,0.81,-0.08,-1.64,0.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1531,贵州茅台,600519,2021-06-15 14:40,2193.11,2194.08,2195.99,2193.05,232,50913057.00,0.13,0.00,0.08,0.00
1532,贵州茅台,600519,2021-06-15 14:45,2194.96,2195.08,2196.00,2193.05,328,71988935.00,0.13,0.05,1.00,0.00
1533,贵州茅台,600519,2021-06-15 14:50,2195.99,2195.70,2196.00,2195.10,334,73418896.00,0.04,0.03,0.62,0.00
1534,贵州茅台,600519,2021-06-15 14:55,2195.59,2195.99,2198.00,2195.44,462,101532815.00,0.12,0.01,0.29,0.00
1535,贵州茅台,600519,2021-06-15 15:00,2196.00,2193.00,2197.45,2193.00,520,114144424.00,0.20,-0.14,-2.99,0.00

### 获取多只股票日 k 数据(得到以股票代码为 key，以 pandas.DataFrame 为值的字典)

In [6]:

beg = '20200101' # 开始日期
end = '20210101'   # 结束日期
stock_codes = ['600519','300750']
df_items = ef.stock.get_quote_history(stock_codes,beg== beg,end=end)

Processing: 600519: 100%|██████████| 2/2 [00:02<00:00,  1.38s/it]

In [7]:
type(df_items) # 查看类型

dict

In [8]:
df_items.keys()

dict_keys(['300750', '600519'])

In [9]:
df_items[stock_codes[0]] # 查看第一支股票的的 k 线数据

,股票名称,股票代码,日期,开盘,收盘,最高,最低,成交量,成交额,振幅,涨跌幅,涨跌额,换手率
0,贵州茅台,600519,2001-08-27,-70.44,-70.24,-69.79,-70.77,406318,1410347000.00,-1.38,1.15,0.82,56.83
1,贵州茅台,600519,2001-08-28,-70.35,-69.97,-69.95,-70.42,129647,463463000.00,-0.67,0.38,0.27,18.13
2,贵州茅台,600519,2001-08-29,-69.95,-70.07,-69.95,-70.13,53252,194689000.00,-0.26,-0.14,-0.10,7.45
3,贵州茅台,600519,2001-08-30,-70.09,-69.93,-69.85,-70.15,48013,177558000.00,-0.43,0.20,0.14,6.72
4,贵州茅台,600519,2001-08-31,-69.92,-69.94,-69.82,-69.99,23231,86231000.00,-0.24,-0.01,-0.01,3.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4617,贵州茅台,600519,2020-12-25,1802.99,1830.00,1847.00,1800.00,23088,4218997632.00,2.57,-0.02,-0.34,0.18
4618,贵州茅台,600519,2020-12-28,1826.60,1873.00,1888.80,1826.05,30080,5616528640.00,3.43,2.35,43.00,0.24
4619,贵州茅台,600519,2020-12-29,1873.00,1867.00,1886.80,1855.00,22868,4275994832.00,1.70,-0.32,-6.00,0.18
4620,贵州茅台,600519,2020-12-30,1870.00,1933.00,1933.00,1869.99,34452,6604461312.00,3.37,3.54,66.00,0.27
4621,贵州茅台,600519,2020-12-31,1941.00,1998.00,1998.98,1939.00,38860,7682300672.00,3.10,3.36,65.00,0.31

# 更多使用例子详见文档 [efinance-docs](https://micro-sheep.github.io/efinance)